.section {
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-grow: 1;*/
    height: 100%;
    width: 100%;
    font-size: 3rem;
    margin-top: 10px;
    color: black;
}

.title {
    text-shadow: 1px 1px #eeeeee;
}

@media (max-width: 800px) {
    .title {
        font-size: 1.1em;
        font-weight: bold;
    }
}